# CognoDB / Neo4j Connection
# Get these from https://console.cognodb.com after provisioning a free instance
COGNODB_URI=bolt+s://YOUR_INSTANCE_ID.databases.cognodb.cloud
COGNODB_USER=cognodb
COGNODB_PASSWORD=your_generated_password_here
